@keyframes menuBefore {
  0% {
    transform: translate(-50%, -12px) rotate(0);
  }
  40% {
    transform: translate(-50%, 0) rotate(0);
  }
  60% {
    transform: translate(-50%, 0) rotate(0);
  }
  100% {
    transform: translate(-50%, 0) rotate(45deg);
  }
}

@keyframes menuBeforeReverse {
  0% {
    transform: translate(-50%, 0) rotate(45deg);
  }
  40% {
    transform: translate(-50%, 0) rotate(0);
  }
  60% {
    transform: translate(-50%, 0) rotate(0);
  }
  100% {
    transform: translate(-50%, -12px) rotate(0);
  }
}

@keyframes menuBeforeSp {
  0% {
    transform: translate(-50%, -9px);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0) rotate(45deg);
  }
}

@keyframes menuBeforeReverseSp {
  0% {
    transform: translate(-50%, 0) rotate(45deg);
  }
  40% {
    transform: translate(-50%, 0) rotate(0);
  }
  60% {
    transform: translate(-50%, 0) rotate(0);
  }
  100% {
    transform: translate(-50%, -9px) rotate(0);
  }
}


@keyframes menuAfter {
  0% {
    transform: translate(-50%, 12px) rotate(0);
  }
  40% {
    transform: translate(-50%, 0) rotate(0);
  }
  60% {
    transform: translate(-50%, 0) rotate(0);
  }
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

@keyframes menuAfterReverse {
  0% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  40% {
    transform: translate(-50%, 0) rotate(0);
  }
  60% {
    transform: translate(-50%, 0) rotate(0);
  }
  100% {
    transform: translate(-50%, 12px) rotate(0);
  }
}

@keyframes menuAfterSp {
  0% {
    transform: translate(-50%, 9px) rotate(0);
  }
  40% {
    transform: translate(-50%, 0) rotate(0)j;
  }
  60% {
    transform: translate(-50%, 0) rotate(0);
  }
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

@keyframes menuAfterReverseSp {
  0% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
  40% {
    transform: translate(-50%, 0) rotate(0);
  }
  60% {
    transform: translate(-50%, 0) rotate(0);
  }
  100% {
    transform: translate(-50%, 9px) rotate(0);
  }
}

