@keyframes menuBefore {
  0% {
    transform: translate(-50%, -12px);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0) rotate(45deg);
  }
}

@keyframes menuBeforeSp {
  0% {
    transform: translate(-50%, -9px);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0) rotate(45deg);
  }
}


@keyframes menuAfter {
  0% {
    transform: translate(-50%, 9px);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}

@keyframes menuAfterSp {
  0% {
    transform: translate(-50%, 12px);
  }
  40% {
    transform: translate(-50%, 0);
  }
  60% {
    transform: translate(-50%, 0);
  }
  100% {
    transform: translate(-50%, 0) rotate(-45deg);
  }
}
