// view port
$pc_min_width = 375px + 1px

// color
$text-black = #000
$bg-gray = #ddd
$bg-black = #000
$bg-white = #fff

// size
$max-width = 960px
$max-width-sp = 343px

// menu /  close button
$menu-width = 42px
$bar-length = 3px

