// view port
$pc_min_width = 600px + 1px

// color
$text-black = #000
$text-white = #fff
$bg-gray = #E3E4E6
$bg-black = #000
$bg-white = #fff

// size
$max-width = 960px
$max-width-sp = 343px

// menu /  close button
$menu-width = 24px
$menu-width-sp = 24px
$bar-length = 2px
$bar-length-sp = 2px

$title-padding-top = 36px
$title-padding-top-sp = 24px
