@import "../../node_modules/kouto-swiss/lib/kouto-swiss/index"
@import "../../node_modules/stylus-reset/index.styl"
reset()
@import "_variable.styl"
@import "_mixin.styl"
@import "_keyframes.styl"

body
  -webkit-font-smoothing antialiased
  touch-action manipulation

a
  cursor pointer

button
  resetButton()
